body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: rgb(35, 113, 159);
}

.shy {
	position: absolute;
	bottom: 16px;
}

.section-title {
	font-size: 16pt;
	color: #FFF;
	display: block;
	margin: 10px 0 10px 0;
}

.round {
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.board-info {
	position: relative;
	width: 200px;
	height: 100px;
	color: #000;
	font-size: 10pt;
	float: left;
	margin-right: 20px;
	padding: 10px;
	background-color: #dbdbdb;
}

.board-info .board-title, .board-info .baord-tasks-count {
	display: block;
}

.board-info .board-title {
	font-size: 12pt;
	font-weight: bold;
}

.board-info .baord-tasks-count {
	font-size: 10pt;
}

.container, .board {
	width: 1000px;
	margin: 140px auto 0 auto;
}

.board .board-details {
	margin: 5px 0 15px 0;
	color: #FFF;
}

.task-list-wrapper {
	width: 278px;
	margin-right: 25px;
	float: left;
	background-color: #dbdbdb;
}

.task-list-wrapper .task-title {
	display: block;
	margin-top: 20px;
	margin-left: 10px;
	color: #000;
}

.task-list {
	margin-top: 10px;
	list-style-type: none;
	padding: 5px;
	width: 100%;
	float: left;
	min-height: 30px;
	display: block;
}

.task-list li {
	margin: 5px;
	padding: 5px;
	width: 240px;
	min-height: 30px;
	font-size: 0.8em;
	display: block;
	background-color: #FFF;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
	cursor: pointer;
}

.task-list li.dragged {
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
}

.glossy {
    background-color: #E8E8E8;
    
    background-image: 
        /* gloss gradient */
        -webkit-gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
            color-stop(50%,rgba(255,255,255,0.3)), 
            color-stop(100%,rgba(255,255,255,0.2))),
        
        /* dark outside gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(210,210,210,0.3)), 
            color-stop(20%,rgba(210,210,210,0)), 
            color-stop(80%,rgba(210,210,210,0)), 
            color-stop(100%,rgba(210,210,210,0.3))),
        
        /* light inner gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(20%,rgba(255,255,255,0.5)), 
            color-stop(80%,rgba(255,255,255,0.5)), 
            color-stop(100%,rgba(255,255,255,0))),        
        
        /* diagonal line pattern */
        -webkit-gradient(
            linear, 
            0% 100%, 
            100% 0%, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(40%,rgba(255,255,255,0)), 
            color-stop(40%,#D2D2D1), 
            color-stop(60%,#D2D2D1), 
            color-stop(60%,rgba(255,255,255,0)), 
            color-stop(100%,rgba(255,255,255,0)));
    
        -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
}