body {
	background-color: rgb(35, 113, 159);
}

.boards {
	width: 1000px;
	margin: 140px auto 0 auto;
}

.board-wrapper {
	width: 278px;
	margin-right: 25px;
	float: left;
	background-color: #dbdbdb;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.board-wrapper .title {
	display: block;
	margin-top: 20px;
	margin-left: 10px;
	color: #000;
}

.board {
	margin-top: 10px;
	list-style-type: none;
	padding: 5px;
	width: 100%;
	float: left;
	min-height: 30px;
	display: block;
}

.board li {
	margin: 5px;
	padding: 5px;
	width: 240px;
	min-height: 30px;
	font-size: 0.8em;
	display: block;
	background-color: #FFF;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
}

.board li.dragged {
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
}